@import "../App/app";
@import "../App/components/chat/chat";

$background-grey: #f3f3f3;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: $background-grey;
  font-size: 62.5%; //10px/60px=62.5%->1rem=10px
}

body {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;

  --footer-height: 4rem;
}

#app {
}
