.container {
  background-color: white;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  gap: 2rem;

  .images {
    background-size: contain;
    width: 100%;
    aspect-ratio: 1/1.5;
    object-fit: cover;
    object-position: center;
  }

  .blur-load {
    background-size: cover;
    background-position: center;
    width: 100%;
    aspect-ratio: 1/1.5;
    position: relative;

    img {
      opacity: 0;
      transition: opacity 0.6s ease-in-out;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(255, 255, 255, 0.1);
      animation: pulse 2.5s infinite; //give a user the impression that the image is loading
    }
  }

  .blur-load.loaded {
    img {
      opacity: 1;
    }
    &::before {
      content: none;
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
